<div id="app">
    <section  class="slider-preview">
        <div class="container">
            <div [ngStyle]="slider.children[0].meta_data.text_content_render.style">
                <h2 [ngStyle]="slider.children[0].meta_data.text_1_render.style" >{{slider.children[0].text_1}}</h2>
                <p [ngStyle]="slider.children[0].meta_data.long_text_1_render.style" markdown [data]="slider.children[0].long_text_1"></p>
            </div>
        </div>
    </section>
    <section class="container" [ngStyle]="slider.children[0].meta_data.text_content_render.style">
        <div [ngStyle]="slider.children[0].meta_data.text_content_render.style">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let data of slider.children[0].icons">
                        <img [src]="data.image" alt="" >
                        <p markdown [data]="data.title"></p>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </div>
    </section>	
</div>